@page "/dowactivity"
@rendermode InteractiveServer

<PageTitle>Info Page</PageTitle>

<p class="title"><b>Average Accesses on Each Day of Week</b></p>
<hr>

<div class="content">
    @if (Shared.uploadStatus.Equals("file")) {
        Init();
        InitGraph();
        
        <div class="container" style="width: 100%;">
            <div class="panel" style="width: 75%;">
                <BarChart @ref="barChart" Width="800" Height="600" class="chart"/>

                <div class="description"><p>Displays the average accesses on each day of the week</p></div>
            </div>

            <div class="panel" style="width: 25%; margin-top: 5%;">
                <Accordion AlwaysOpen="true" Flush="true">
                    <AccordionItem Title="Location">
                        <Content>
                            @for(int i=0; i<locations.Count; i++)
                            {
                                <CheckboxInput Label="@locations[i]" @bind-Value="locationFilters[i]" />
                            }
                        </Content>
                    </AccordionItem>
                    <AccordionItem Title="Users">
                        <Content>
                            @for(int i=0; i<users.Count; i++)
                            {
                                <CheckboxInput Label="@users[i]" @bind-Value="userFilters[i]" />
                            }
                        </Content>
                    </AccordionItem>
                </Accordion>
            </div>
        </div>
    }
</div>

<style>

hr {
    border-top: 5px solid #000;
    opacity: 1;
    width: 80%;
    margin: auto;
}

.title {
    font-size: 70px;
    font-family: 'Courier New', monospace;
}

.content {
    text-align: center;
}

.container {
    display: flex;
    align-items: flex-start;
}

.panel {
    display: flex;
    flex-direction: column;
}

.chart {
    margin-left: 10%;
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline-block;
}

.description {
    width: 80%;
    margin: auto;
    padding: 5%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #4a9500;
    color: white;
    font-family: 'Courier New', monospace;
    font-weight: bold;
}

.accordion-button, .accordion-body {
    background-color: #fff4ee !important;
}

.accordion-button {
    font-size: 20px;
    font-family: 'Courier New', monospace;
    font-weight: bold;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed) {
    color: inherit !important;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
    outline: none;
}

</style>

@code {
    // DATA VARS
    int[] numUniqueDays = {0,0,0,0,0,0,0};
    SortedDictionary<int,List<ReaderEvent>> userDict = new SortedDictionary<int, List<ReaderEvent>>();
    List<string> locations = new List<string>();
    List<string> users = new List<string>();

    // GRAPH VARS
    private BarChart barChart = default!;
    private BarChartOptions barChartOptions = default!;
    private ChartData chartData = default!;

    private List<string> x_axis = new() {"Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"};
    private List<double?> y_axis = new();

    // FILTER VARS
    private List<bool> locationFilters = new List<bool>();

    private bool filter2option1 = false;
    private bool filter2option2 = true;
    private bool filter2option3 = false;

    private List<bool> userFilters = new List<bool>();

    public void Init() {
        for (int i=0;i<7;i++) {
            userDict.Add(i, new List<ReaderEvent>());
        }

        foreach(ReaderEvent reader in Shared.fileList) {
            int dayofweek = (int)( DateTime.Parse(reader.GetTimestamp()).DayOfWeek );
            userDict[dayofweek].Add(reader);
        }

        for(int i=0; i<Shared.fileList.Count; i++) {
            int dayofweek = (int)( DateTime.Parse(Shared.fileList[i].GetTimestamp()).DayOfWeek );
            if ( (i>0 && (DateTime.Parse(Shared.fileList[i].GetTimestamp()).Date != DateTime.Parse(Shared.fileList[i-1].GetTimestamp()).Date)
                    || i == 0) ) {
                numUniqueDays[dayofweek]++;
            }
            userDict[dayofweek].Add(Shared.fileList[i]);
        }

        foreach (KeyValuePair<int,List<ReaderEvent>> kvp in Shared.dict) {
            if(locations.Contains(kvp.Value[0].GetName()) == false) {
                locations.Add(kvp.Value[0].GetName());
                locationFilters.Add(true);
            }

            if(users.Contains(kvp.Value[0].GetHash()) == false) {
                users.Add(kvp.Value[0].GetHash());
                userFilters.Add(true);
            }
        }
    }

    public void InitGraph() {
        for (int i=0;i<7;i++) {
            y_axis.Add(userDict[i].Count/numUniqueDays[i]);
        }

        var datasets = new List<IChartDataset>();

        var dataset = new BarChartDataset() {
            Data = y_axis, // numAccesses
            BackgroundColor = new List<string> { "#56423e" }
        };
        datasets.Add(dataset);

        chartData = new ChartData {
            Labels = x_axis,
            Datasets = datasets
        };

        barChartOptions = new();
        barChartOptions.Responsive = true;
        barChartOptions.Interaction = new Interaction { Mode = InteractionMode.X };
        barChartOptions.IndexAxis = "x";

        barChartOptions.Scales.X!.Title = new ChartAxesTitle { Text = "Door", Display = true };
        barChartOptions.Scales.Y!.Title = new ChartAxesTitle { Text = "Accesses", Display = true };

        barChartOptions.Plugins.Legend.Display = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // pass the plugin name to enable the data labels
            await barChart.InitializeAsync(chartData: chartData, chartOptions: barChartOptions, plugins: new string[] { "ChartDataLabels" });
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}