@page "/timeranges"
@rendermode InteractiveServer

<PageTitle>Info Page</PageTitle>

<p class="title"><b>Access TimeRanges</b></p>
<hr>

<div class="content">
    @if (Shared.uploadStatus.Equals("file")) {
        Init();
        InitGraph();
        
        <div class="container" style="width: 100%;">
            <div class="panel" style="width: 75%;">
                <BarChart @ref="barChart" Width="800" Height="600" class="chart"/>

                <div class="description"><p>Testing Testing 123</p></div>
            </div>

            <div class="panel" style="width: 25%; margin-top: 5%;">
                <Accordion AlwaysOpen="true" Flush="true">
                    <AccordionItem Title="Location">
                        <Content>
                            <CheckboxInput Label="Norman" @bind-Value="filter1option1" />
                            <CheckboxInput Label="OKC" @bind-Value="filter1option2" />
                            <CheckboxInput Label="Fort Smith" @bind-Value="filter1option3" />
                        </Content>
                    </AccordionItem>
                    <AccordionItem Title="Graph Count">
                        <Content>
                            <RadioInput Name="count" Label="5" @bind-Value="filter2option1" />
                            <RadioInput Name="count" Label="10" @bind-Value="filter2option2" />
                            <RadioInput Name="count" Label="15" @bind-Value="filter2option3" />
                        </Content>
                    </AccordionItem>
                    <AccordionItem Title="Users">
                        <Content>
                            <CheckboxInput Label="101 GUARD SHACK PLANT ENTRY" @bind-Value="filter3option1" />
                            <CheckboxInput Label="105 CNTRL RM SW DR" @bind-Value="filter3option2" />
                        </Content>
                    </AccordionItem>
                    <AccordionItem Title="DateTime">
                        <Content>

                        </Content>
                    </AccordionItem>
                </Accordion>
            </div>
        </div>
    }
</div>

<style>

hr {
    border-top: 5px solid #000;
    opacity: 1;
    width: 80%;
    margin: auto;
}

.title {
    font-size: 70px;
    font-family: 'Courier New', monospace;
}

.content {
    text-align: center;
}

.container {
    display: flex;
    align-items: flex-start;
}

.panel {
    display: flex;
    flex-direction: column;
}

.chart {
    margin-left: 10%;
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline-block;
}

.description {
    width: 80%;
    margin: auto;
    padding: 5%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #ede9d0;
}

.accordion-button, .accordion-body {
    background-color: #fff4ee !important;
}

.accordion-button {
    font-size: 20px;
    font-family: 'Courier New', monospace;
    font-weight: bold;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed) {
    color: inherit !important;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
    outline: none;
}

</style>

@code {
    // DATA VARS
    TimeOnly startTime = new TimeOnly(9,0); // set default time to 9:00 AM local time.
    TimeOnly endTime = new TimeOnly(17,0); // set default time to 5:00 PM local time.
    List<(int doorID, int numAccesses)> data = new();

    // GRAPH VARS
    private BarChart barChart = default!;
    private BarChartOptions barChartOptions = default!;
    private ChartData chartData = default!;

    private List<string> x_axis = new();
    private List<double?> y_axis = new();

    // FILTER VARS
    private bool filter1option1 = false;
    private bool filter1option2 = false;
    private bool filter1option3 = false;

    private bool filter2option1 = false;
    private bool filter2option2 = true;
    private bool filter2option3 = false;

    private bool filter3option1 = false;
    private bool filter3option2 = false;

    public void Init() {
        foreach (KeyValuePair<int, List<ReaderEvent>> kvp in Shared.dict) {
            data.Add( (kvp.Key, NumNotInRange(kvp.Value)) );
        }
        data.Sort( (x,y) => y.Item2.CompareTo(x.Item2) );
    }

    public int NumNotInRange(List<ReaderEvent> list) {
        int num = 0;
        foreach (ReaderEvent reader in list) {
            // if after 5pm and before 9am num++;
            TimeOnly eventTime = TimeOnly.FromDateTime(DateTime.Parse(reader.GetTimestamp()));
            if (eventTime.CompareTo(startTime) > 0 && eventTime.CompareTo(endTime) < 0 ) {
                num++;
            }
        }
        return num;    
    }

    public void InitGraph() {
        for (int i=0;i<10;i++) {
            x_axis.Add(Shared.dict[data[i].Item1][0].GetDesc().Substring(22));
            y_axis.Add(data[i].Item2);
        }

        var datasets = new List<IChartDataset>();

        var dataset = new BarChartDataset() {
            Data = y_axis, // numAccesses
            BackgroundColor = new List<string> { "#bb8378" }
        };
        datasets.Add(dataset);

        chartData = new ChartData {
            Labels = x_axis,
            Datasets = datasets
        };

        barChartOptions = new();
        barChartOptions.Responsive = true;
        barChartOptions.Interaction = new Interaction { Mode = InteractionMode.X };
        barChartOptions.IndexAxis = "x";

        barChartOptions.Scales.X!.Title = new ChartAxesTitle { Text = "Door", Display = true };
        barChartOptions.Scales.Y!.Title = new ChartAxesTitle { Text = "Accesses", Display = true };

        barChartOptions.Plugins.Legend.Display = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // pass the plugin name to enable the data labels
            await barChart.InitializeAsync(chartData: chartData, chartOptions: barChartOptions, plugins: new string[] { "ChartDataLabels" });
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}