@page "/timeranges"
@rendermode InteractiveServer

<PageTitle>Info Page</PageTitle>

<p class="title"><b>Access TimeRanges</b></p>
<hr>

<div class="content">
    @if (Shared.uploadStatus.Equals("file")) {
        Init();
        <h4>Title</h4>
    }
</div>

<style>

hr {
    border-top: 5px solid #000;
    opacity: 1;
    width: 80%;
    margin: auto;
}

.title {
    font-size: 70px;
    font-family: 'Courier New', monospace;
}

.content {
    text-align: center;
}

</style>

@code {
    // access all readerevents
    public void Init() {}
}