@page "/timeranges"
@rendermode InteractiveServer

<PageTitle>Info Page</PageTitle>

<div class="content">

</div>

<style>

hr {
    border-top: 5px solid #000;
    opacity: 1;
    width: 80%;
    margin: auto;
}

.title {
    font-size: 70px;
    font-family: 'Courier New', monospace;
}

.content {
    text-align: center;
}

</style>

<h1>Access Timeranges</h1>

@code {

}