@page "/uniqueaccesses"
@rendermode InteractiveServer

<PageTitle>Info Page</PageTitle>

<h1>Unique Door Accesses</h1>

<div class="content">

</div>

<style>

hr {
    border-top: 5px solid #000;
    opacity: 1;
    width: 80%;
    margin: auto;
}

.title {
    font-size: 70px;
    font-family: 'Courier New', monospace;
}

.content {
    text-align: center;
}

</style>

@code {

}