@page "/useractivity"
@rendermode InteractiveServer

<PageTitle>Info Page</PageTitle>

<p class="title"><b>Most Active Users</b></p>
<hr>

<div class="content">
    @if (Shared.uploadStatus.Equals("file")) {
        Init();
        InitGraph();
        
        <div class="container" style="width: 100%;">
            <div class="panel" style="width: 75%;">
                <BarChart @ref="barChart" Width="800" Height="600" class="chart"/>

                <div class="description"><p>Displays the most active users by the amount of accesses</p></div>
            </div>

            <div class="panel" style="width: 25%; margin-top: 5%;">
                <Accordion AlwaysOpen="true" Flush="true">
                    <AccordionItem Title="Location">
                        <Content>
                           @for(int i=0; i<locations.Count; i++)
                            {
                                <CheckboxInput Label="@locations[i]" @bind-Value="locationFilters[i]" />
                            } 
                        </Content>
                    </AccordionItem>
                    <AccordionItem Title="Graph Count">
                        <Content>
                            <RadioInput Name="count" Label="5" @bind-Value="filter2option1" @onchange="RewriteGraph"/>
                            <RadioInput Name="count" Label="10" @bind-Value="filter2option2" @onchange="RewriteGraph"/>
                            <RadioInput Name="count" Label="15" @bind-Value="filter2option3" @onchange="RewriteGraph"/>
                        </Content>
                    </AccordionItem>
                    <AccordionItem Title="Users">
                        <Content>
                            @for(int i=0; i<users.Count; i++)
                            {
                                <CheckboxInput Label="@users[i]" @bind-Value="userFilters[i]" />
                            }
                        </Content>
                    </AccordionItem>
                    <AccordionItem Title="DateTime">
                        <Content>

                        </Content>
                    </AccordionItem>
                </Accordion>
            </div>
        </div>
    }
</div>

<style>

hr {
    border-top: 5px solid #000;
    opacity: 1;
    width: 80%;
    margin: auto;
}

.title {
    font-size: 70px;
    font-family: 'Courier New', monospace;
}

.content {
    text-align: center;
}

.container {
    display: flex;
    align-items: flex-start;
}

.panel {
    display: flex;
    flex-direction: column;
}

.chart {
    margin-left: 10%;
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline-block;
}

.description {
    width: 80%;
    margin: auto;
    padding: 5%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #4a9500;
    color: white;
    font-family: 'Courier New', monospace;
    font-weight: bold;
}

.accordion-button, .accordion-body {
    background-color: #fff4ee !important;
}

.accordion-button {
    font-size: 20px;
    font-family: 'Courier New', monospace;
    font-weight: bold;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed) {
    color: inherit !important;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
    outline: none;
}

</style>

@code {
    // DATA VARS
    Dictionary<string,List<ReaderEvent>> userDict = new Dictionary<string, List<ReaderEvent>>();
    List<(string hash, int numAccesses)> data = new List<(string hash, int numAccesses)>();
    List<string> locations = new List<string>();
    List<string> users = new List<string>();
    int numDoors {get; set;} = 10;

    // GRAPH VARS
    private BarChart barChart = default!;
    private BarChartOptions barChartOptions = default!;
    private ChartData chartData = default!;

    private List<string> x_axis = new();
    private List<double?> y_axis = new();

    // FILTER VARS
    private List<bool> locationFilters = new List<bool>();

    private bool filter2option1 = false;
    private bool filter2option2 = true;
    private bool filter2option3 = false;

    private List<bool> userFilters = new List<bool>();

    public void Init() {
        data.Clear();
        userDict.Clear();
        InitializeDictByUser();
        Sort();
    }

    public void InitializeDictByUser() {
        foreach(ReaderEvent reader in Shared.fileList) {
            if (userDict.ContainsKey(reader.GetHash())) {
                userDict[reader.GetHash()].Add(reader);
            } else {
                userDict.Add(reader.GetHash(), new List<ReaderEvent>());
                userDict[reader.GetHash()].Add(reader);
            }
        }
    }

    public void Sort() {
        foreach (KeyValuePair<string,List<ReaderEvent>> kvp in userDict) {
            data.Add((kvp.Key,kvp.Value.Count));

            if(locations.Contains(kvp.Value[0].GetName()) == false) {
                locations.Add(kvp.Value[0].GetName());
                locationFilters.Add(true);
            }

            if(users.Contains(kvp.Value[0].GetHash()) == false) {
                users.Add(kvp.Value[0].GetHash());
                userFilters.Add(true);
            }
        }
        (string hash,int numAccesses) temp;

        for (int j=0; j<=data.Count-2; j++)
        {
            for (int i=0; i<=data.Count-2; i++)
            {
                if (data[i].numAccesses > data[i+1].numAccesses)
                {
                    temp = (data[i+1].hash,data[i+1].numAccesses);
                    data[i+1] = (data[i].hash,data[i].numAccesses);
                    data[i] = (temp.hash,temp.numAccesses);
                }
            }
        }
    }

    public void InitGraph() {
        x_axis.Clear();
        y_axis.Clear();

        int maxDoors = Math.Min(numDoors, data.Count);
        for (int i=1;i<=maxDoors;i++) {
            x_axis.Add(data[data.Count-i].Item1);
            y_axis.Add(data[data.Count-i].Item2);
        }

        var datasets = new List<IChartDataset>();

        var dataset = new BarChartDataset() {
            Data = y_axis, // numAccesses
            BackgroundColor = new List<string> { "#56423e" }
        };
        datasets.Add(dataset);

        chartData = new ChartData {
            Labels = x_axis,
            Datasets = datasets
        };

        barChartOptions = new();
        barChartOptions.Responsive = true;
        barChartOptions.Interaction = new Interaction { Mode = InteractionMode.X };
        barChartOptions.IndexAxis = "x";

        barChartOptions.Scales.X!.Title = new ChartAxesTitle { Text = "Door", Display = true };
        barChartOptions.Scales.Y!.Title = new ChartAxesTitle { Text = "Accesses", Display = true };

        barChartOptions.Plugins.Legend.Display = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // pass the plugin name to enable the data labels
            await barChart.InitializeAsync(chartData: chartData, chartOptions: barChartOptions, plugins: new string[] { "ChartDataLabels" });
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    // This Updates the data depending on the filters selected - Lai
    public async Task RewriteGraph()
    {
        // 10 - 15 doesn't work but 5 - 15 does
        if(filter2option1) { numDoors = 5; }
        else if(filter2option2) { numDoors = 10; }
        else if(filter2option3) { numDoors = 15; }

        // Reset the data
        Init();
        InitGraph();

        // Reinitialize the graph with the new data
        await barChart.UpdateAsync(chartData: chartData, chartOptions: barChartOptions);
        StateHasChanged();
    }
}