 <div class="nav" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dooractivity">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="useractivity">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dowactivity">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="uniqueaccesses">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inactivity">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="timeranges">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            @*This is where the upload file button will go*@
        </div>
    </nav>
</div>

