 <div class="nav" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-fill-nav-menu" aria-hidden="true"></span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dooractivity">
                <span class="bi bi-door-closed-fill-nav-menu" aria-hidden="true"></span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="useractivity">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dowactivity">
                <span class="bi bi-calendar-nav-menu" aria-hidden="true"></span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="uniqueaccesses">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inactivity">
                <span class="bi bi-activity-nav-menu" aria-hidden="true"></span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="timeranges">
                <span class="bi bi-alarm-fill-nav-menu" aria-hidden="true"></span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link">
                <span class="bi bi-upload-button" aria-hidden="true"></span>    
            </NavLink>
        </div>
    </nav>
</div>

